# .env.example
# =======================================

# Node 0 (API) IP
PC0_IP=00.00.00.00

# Node 1 (Worker 1) IP
PC1_IP=zz.zz.zz.zz

# Node 2 (Worker 2) IP
PC2_IP=yy.yy.yy.yy

# Node 3 (Judge) IP
PC3_IP=xx.xx.xx.xx

# =======================================
# Mode configuration
# Fast - uses only one model on PC3.
FAST_MODEL=Qwen3.6-35B-A3B-UD-Q8_K_XL.gguf

# Pro
PRO_WORKER_1_MODEL=Qwythos-9B-Claude-Mythos-5-1M-MTP-Q8_0.gguf
PRO_WORKER_2_MODEL=Qwen3.5-9B-UD-Q6_K_XL.gguf
PRO_JUDGE_MODEL=Qwen3.6-35B-A3B-UD-Q8_K_XL.gguf

# Coding
CODING_WORKER_1_MODEL=gemma4-coding-Q6_K.gguf
CODING_WORKER_2_MODEL=gemma-4-12b-it-UD-Q6_K_XL.gguf
CODING_JUDGE_MODEL=gemma-4-26B-A4B-it-UD-Q8_K_XL.gguf

# ======================================
# Internal API Endpoints
PC1_MANAGER_URL=http://${PC1_IP}:8001
PC2_MANAGER_URL=http://${PC2_IP}:8002
PC3_MANAGER_URL=http://${PC3_IP}:8003
